#main-navbar {
    height: 80px;
}

div p {
	display: flex;
	align-items: center;
	margin-bottom: 0;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*[id^="ingr_name_"] {
	vertical-align: -webkit-baseline-middle;
	color: red;
}*/
/*#dish_lines div a p {
    white-space: nowrap;
    overflow: hidden;
}*/
/*#dish_lines div a p::after {
	content: ''; 
	position: absolute; 
	right: 0; top: 0; 
	width: 40px; 
	height: 100%; 
	background: -moz-linear-gradient(left, rgba(255,204,0, 0.2), #fc0 100%);
	background: -webkit-linear-gradient(left, rgba(255,204,0, 0.2), #fc0 100%);
	background: -o-linear-gradient(left, rgba(255,204,0, 0.2), #fc0 100%);
	background: -ms-linear-gradient(left, rgba(255,204,0, 0.2), #fc0 100%);
	background: linear-gradient(to right, rgba(255,204,0, 0.2), #fc0 100%);
}*/