{% extends 'base.html' %}
{% block title %}Информация о блюде — {{dishes['name']}}{% end %}
{% block content %}
<div class="container-fluid bg-light">
    <div class="container m-auto d-block">
        <div class="row">
            <div class="col-lg-12 col-sm-6">
                <div class="container border border-dark rounded m-2 ml-1">
                    <div class="row">
                        <div class="col-6 d-inline-block">
                            <img class="d-flex w-auto col-6" src="../static/img/dishs/{{ dishes['img_src'] }}">
                                <p class="font-weight-bold text-info">
                                    {{dishes['name']}}
                                </p>
                                <p class="text-muted">
                                    {{dishes['description']}}
                                </p>
                            </img>
                        </div>
                        <div class="col-6 d-inline-block mb-4" id="ingredients_list">
                        	<h2>Список ингредиентов</h2>
                            {% for ingredient in ingredients %}
                            <div class="row border rounded mt-2 mr-0">
                            	<div class="col-9 d-inline-block mt-2 mb-2">
									<span class="ml-2"><abbr class="text-decoration-none" title="{{ingredient['description']}}" id="ingr_name_{{ingredient['id']}}">{{ ingredient['name'] }}</abbr></span>
								</div>
								<div class="col-3 d-inline-block mt-2 mb-2">
									<p class="text-muted" id="ingr_id_{{ingredient['id']}}">{{ingredient['calories'] * ingredient['weight'] / 100}}<sub>Ккал</sub></p>
								</div>
							</div>
							{% end %}
								<div class="col-12 d-inline-block mt-2 mb-2 ml-0">
									<p class="text-muted" id="all_cal">Итоговая сумма калорий:</p>
								</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

	let all_cal = 0;
	$('[id^="ingr_id_"]').each(function(){
		all_cal += parseFloat($(this).text().substring(0, $(this).text().length - 4))
	});
		console.log(all_cal)
	console.log($('#all_cal').text($('#all_cal').text() + ' ' + all_cal));
	
</script>

{% end %}
