{% extends 'base.html' %}
{% block title %}
Главная
{% end %}
{% block content %}
<div class="container-fluid bg-dark mt-2">
    <div class="container m-auto d-block">
        <div class="row">
            {% for dish in dishs %}
        			{% if dish['img_src'] %}
            <div class="col-4">
                <img class="d-flex w-100" src="./static/img/dishs/{{ dish['img_src'] }}" style="align: center;">
                </img>
            </div>
            {% end %}
			{% end %}
        </div>
    </div>
</div>
{% end %}
